<module>
	<rawname>HelloWorld</rawname>
	<name>Hello World</name>
	<version>0.1.0.0</version>
	<candisable>yes</candisable>
	<canuninstall>yes</canuninstall>
	<changelog>
		*0.1.0.0* Original Release (beta)
	</changelog>
	<description>
		provides a hello world example
	</description>
	<info>http://github.com/jfinstrom/</info>
	<menuitems>
                <HelloWorld>Hello World</HelloWorld>
	</menuitems>
	<depends>
		<module>core</module>
		<version>ge2.2</version>
    </depends>
	<type>setup</type>
	<category>Basic</category>
	<location>x</location>
	<md5sum>x</md5sum>
</module>

